.App {
    margin: 50px auto 10px;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 800px;
}

.title {
    letter-spacing: 6px;
    color: darkslategrey;
}

.footer {
    text-align: center;
}

.footer a {
    color: rgb(184, 115, 30);
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.footer a:hover {
    color: darkgoldenrod;
}

@media (max-width: 800px) {
    .App {
        width: 90%;
    }
}
